# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# model files (optional: keep if you want upload)
# Uncomment if you want to exclude pkl
# *.pkl

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log